<p>
  <%= link_to "Album", album_url(@track.album), method: "get" %>
</p>
<h3> <%= @track.name %> </h3>

<%= button_to "Delete", track_url(@track), method: "delete" %>

<p>
  <%= @track.lyrics %>
</p>
