<%= link_to "Band", band_url(@album.band), method: "get" %>
<h3><%= @album.name %></h3>

<ul>
  <% @album.tracks.each do |track| %>
  <li><a href="<%= track_url(track) %>"><%= track.name %></a></li>
  <% end %>
</ul>
